@model PetShopApplication.ViewComponents.AnimalListViewModel

<link href="~/styles/admin.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
    var categories = ViewBag.Categories as List<string>;
    var selectedCategory = Context.Request.Query["SelectedCategory"];
}

@section selectCategorySection {
    <select name="category" id="category" class="categorySelect">
        <option value="">All Categories</option>
        @foreach (var category in categories)
        {
            if (category == selectedCategory)
            {
                <option value="@category" selected>@category</option>
            }
            else
            {
                <option value="@category">@category</option>
            }
        }
    </select>
}

@section addAnimalSection {
    <a asp-action="UpdateAnimal" asp-controller="Admin" class="addAnimalButton">+ Add Animal</a>
}
@await Component.InvokeAsync("AnimalList", Model)

