@model PetShopApplication.ViewComponents.AnimalListViewModel

<link href="~/styles/admin.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
    var categories = ViewBag.Categories as List<string>;
}

@section selectCategorySection {
    <select name="category" id="category" class="categorySelect">
        <option value="All Categories">All Categories</option>
        @foreach (var category in categories)
        {
            <option value="@category">@category</option>
        }
    </select>
}

@section addAnimalSection {
    <a asp-action="UpdateAnimal" asp-controller="Admin" class="addAnimalButton">+ Add Animal</a>
}
<div id="animalList">@await Component.InvokeAsync("AnimalList", Model)</div>


<script>
    $(document).ready(function () {
        $("#category").change(function () {
            var selectedCategory = $(this).children("option:selected").val();
            $.ajax({
                url: '/Admin/ShowCategory',
                type: 'GET',
                data: { selectedCategory: selectedCategory },
                success: function (result) {
                    $('#animalList').html(result);
                }
            });
        });
    });
</script>

