@using PetShopApplication.ViewComponents
@model PetShopApplication.ViewComponents.AnimalListViewModel

<div class="list">
    @foreach (var animal in Model.Animals)
    {
        var cardViewModel = new AnimalCardViewModel
                {
                    Animal = animal,
                    ShowDeleteButton = Model.ShowDeleteButton,
                    Action = Model.Action,
                    Controller = Model.Controller,
                };

        @await Component.InvokeAsync("AnimalCard", cardViewModel)
    }
</div>