@using PetShopApplication.ViewComponents
@model PetShopApplication.ViewComponents.AnimalListViewModel

@if (Model.Animals!.Count() != 0)
{
    <div class="list">
        @foreach (var animal in Model.Animals!)
        {
            var cardViewModel = new AnimalCardViewModel
                    {
                        Animal = animal,
                        ShowDeleteButton = Model.ShowDeleteButton,
                        Action = Model.Action,
                        Controller = Model.Controller,
                    };

            @await Component.InvokeAsync("AnimalCard", cardViewModel)
        }
    </div>
}
else
{
    <div class="noAnimalsMessage">There are no animals in the database right now... :(</div>
}

<script>
    $(document).ready(function () {
        $(".categorySelect").change(function () {
            var selectedCategory = $(this).children("option:selected").val();
            $.ajax({
                url: '/Catalog/ShowCategory',
                type: 'GET',
                data: { selectedCategory: selectedCategory },
                success: function (result) {
                    $('#animalList').html(result);
                }
            });
        });
    });
</script>