@model IEnumerable<PetShopApplication.Models.Animal>
@{
    ViewData["Title"] = "Catalog";
}

<div class="list">
    @foreach (var animal in Model)
{
        @await Component.InvokeAsync("AnimalCard", animal)
}
</div>

