@using PetShopApplication.ViewComponents
@model PetShopApplication.ViewComponents.AnimalListViewModel

@{
    ViewData["Title"] = "Index";
    var categories = ViewBag.Categories as List<string>;
}

@section section1 {
    <select class="categorySelect">
        <option value="All Categories">All Categories</option>
        @foreach (var category in categories)
        {
            <option value="@category">@category</option>
        }
    </select>
}

<div id="animalList">@await Component.InvokeAsync("AnimalList", Model)</div>

<script>
    $(document).ready(function () {
        $(".categorySelect").change(function () {
            var selectedCategory = $(this).children("option:selected").val();
            $.ajax({
                url: '/Catalog/ShowCategory',
                type: 'POST',
                data: { selectedCategory: selectedCategory },
                success: function (result) {
                    $('#animalList').html(result);
                }
            });
        });
    });
</script>
