@model IEnumerable<PetShopApplication.Models.Animal>

@{
    Layout = null;
    var categories = ViewBag.Categories as List<string>;
    var selectedCategory = ViewBag.SelectedCategory;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CatalogShowCategory</title>
</head>
<body>
    @await Component.InvokeAsync("AnimalList", Model)
</body>
</html>
