@model PetShopApplication.Models.Animal

<link href="~/styles/cardStyle.css" rel="stylesheet" />
<a>
    <div class="card">
        <img src="~/images/@Model.PictureName" alt="Picture of @Model.Name" />
        <div class="text-center">@Model.Name</div>
    </div>
</a>