<link href="~/styles/animalForm.css" rel="stylesheet" />

@model PetShopApplication.Models.Animal

<div class="validationMessages text-danger" asp-validation-summary="All"></div>

<form class="animalForm" asp-controller="Admin" asp-action="@(Model == null?"AddAnimal":"UpdateAnimalData")" method="post" enctype="multipart/form-data">

    @if (Model != null)
    {
        <input type="hidden" asp-for="Id" />
    }
    <input type="hidden" asp-for="PictureName" />

    <div class="propRow">
        <div class="animalProp">
            <label asp-for="Name"></label>
            <input class="textInput" asp-for="Name" maxlength="30" />
        </div>

        <div class="animalProp">
            <label asp-for="UploadedImage"></label>
            <input class="imageUpload" asp-for="UploadedImage" type="file" />
        </div>
    </div>

    <div class="propRow">
        <div class="animalProp">
            <label asp-for="Age"></label>
            <input class="textInput" asp-for="Age" />
        </div>

        <div class="animalProp">
            <label asp-for="CategoryId"></label>
            <select class="categorySelect" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                <option value="">Select Category</option>
            </select>
        </div>

    </div>

    <div class="description">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="textInput" maxlength="300"><</textarea>
    </div>

    <button class="submitAnimalButton" type="submit">@(Model == null ? "Create" : "Update") Animal</button>
</form>
