.addAnimalButton {
    border-radius: 34px;
    border: 1px solid #101F22;
    background: #9AB195;
    color: #101F22;
    width: 60%;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

    .addAnimalButton:hover {
        border: 2px solid aliceblue;
        color: aliceblue;
    }
