.card {
    width: 500px;
    height: 295px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 40px;
    border: 2px solid #101F22;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font: bold 36px roboto;
    color:#101F22;
    background: #65815F;
}

.card:hover{
    opacity:0.8;
    transform:scale(1.01);
}

.cardImage {
    width: 100%;
    min-height: 240px;
    max-height: 240px;
    object-fit:cover;
}
