.carouselImage {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.carousel {
    width: 70%;
    margin: auto;
    background: #65815F;
    border-radius: 50px;
    border: solid #101F22;
    color: aliceblue;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carouselDescription {
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    border: solid 1px #101F22;
}

.carouselImage:hover {
    opacity: 0.8;
    transform: scale(1.01);
}

#topAnimalsText {
    font: 30px roboto;
    margin-top:50px;
}