*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: aliceblue;
}

*::-webkit-scrollbar-thumb {
    background-color: #65815F;
    border-radius: 20px;
    border: 2px solid #101F22;
}

body {
    background: #B7C7B4;
    font: 20px roboto;
}

header {
    display:grid;
    height: 10vh;
    position: sticky;
    width: 100%;
    height: 150px;
    margin:0;
    font:bold 80px roboto;
    align-content:center;
    justify-content:center;
}

.leftPanel {
    grid-area: left;
    display:flex;
    flex-direction:column;
    width: 220px;
    gap:20px;
}

.logo {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    object-fit: contain;
    background: #B7C7B4;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color:aliceblue;
}

.content {
    justify-self: center;
    width: 100%;
    grid-area: content;
}

.mainLayout {
    display: grid;
    min-height:100%;
    grid-template-areas: 'left content';
    grid-template-columns: min-content 1fr;
}

.navbar {
    height: auto;
    justify-content: start;
    gap: 10px;
    position: sticky;
    top: 0;
    padding: 15px;
    border: 3px solid aliceblue;
    border-left: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 32px 32px 0;
    background: #101F22;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:center;
}

.categorySelect{
    margin:15px;
    justify-self:center;
}

.carouselImage {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.carousel {
    width: 70%;
    margin: auto;
    margin-top:70px;
    background: #65815F;
    border-radius: 50px;
    border: solid #101F22;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carouselDescription{
    font-size:18px;
}

.carouselImage:hover {
    opacity: 0.8;
    transform: scale(1.01);
}