.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.categorySelect {
    margin: 15px;
    background: #9AB195;
    color: #101F22;
    border-radius: 25px;
    border: solid 1px #101F22;
}